@import "../variables";

.read__button {
  position: relative;
  order: 2;
  margin-top: 5px;
  color: $text-blue;

  &::after {
    content: "";
    position: absolute;
    left: 100px;
    top: 4px;
    display: inline-block;
    width: 4px;
    height: 4px;
    border: 1px solid transparent;
    border-right-color: $text-blue;
    border-bottom-color: $text-blue;
    transform: rotate(45deg);
    transition: $transition;
  }



  @media all and(min-width: 600px) {
    &--mobile {
      display: none;
    }
  }
}