@import "helpers";

header {
  background-color: $header-background-color;
  .content {
    @extend %flexRowWrap;
    justify-content: center;
    align-items: center;
    padding: 10px 2%;
    color: $header-default-color;
    @media all and (min-width: 768px) {
      justify-content: space-between;
      height: 60px;
      padding: 0 2%;
    }

    a {
      color: $header-default-color;
      transition: color ease 0.3s 0s;
      @media all and (min-width: 1024px) {
        &:hover {
          color: $header-link-hover-color;
        }
      }
    }

    .header-logo {
      max-width: 200px;
    }

    .latest-news {
      display: none;
      @media all and (min-width: 1024px) {
        display: inline-block;
        text-transform: uppercase;

        a {
          font-style: italic;
          text-transform: none;
        }
      }
    }

    .info-block {
      @extend %flexRowWrap;
      justify-content: space-around;
      align-items: center;

      a {
        padding: 5px 15px;
        text-transform: uppercase;

        &:not(:last-of-type) {
          border-right: 2px solid $header-default-color;
        }
      }

      .default-user-logo {
        width: 25px;
      }
    }
  }
}
