

.calc-form__select {
  width: 100%;
  max-width: 350px;
  max-height: 45px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  border-radius: 5px;
  border-color: grey;
  background-color: #ffffff;
  outline: none;
  cursor:pointer;
}



