@import "../variables";

.number-item__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: $basic-gray;

  @media all and (min-width: 500px) {
    font-size: 14px;
    line-height: 19px;
  }
}