@import '../variables';

.card__label {
  position: absolute;
  top: 25px;
  right: 4%;
  display: inline-block;
  width: 11px;
  height: 11px;

  &--saved {
    background: url("./images/icons/saved_orange_icon.svg") center no-repeat;
  }

  &--new {
    background: $gradient-blue;
    border-radius: 50%;
  }
}

