@import "../variables";

.banner__title {
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  color: $font-black;

  @media all and (min-width: $tablet-width) {
    margin-bottom: 5px;
    font-size: 22px;
    line-height: 32px;
  }
}