@import '../variables';

.events__items {
  margin-bottom: $footer-height;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: transparent;

  &::before {
    content: '';
    display: block;
    width: 32px;
    height: 3px;
    margin: 0 auto 8px;
    border-radius: 5px;
    background-color: $orange;
  }
}