@import '_title';
@import '_text';
@import '_items';

.events {
  position: fixed;
  top: 100%;
  background-color: transparent;
  transition: all ease 0.5s 0s;

  &--visible {
    position: absolute;
    top: 0;
  }
}