@import "../variables";

.container {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  min-height: inherit;
  margin: 0 auto;
  padding: 0 10px;

  @media all and (min-width: $tablet-width) {
    padding: 0;
  }
}