* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --menu-width: 150px;
    --menu-transition: -100px;
}

body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    font: 16px 'Open Sans', sans-serif;
    overflow-x: hidden;
}

header {
    flex: 0 1 auto;
}

header {
    min-height: 65px;
    z-index: 10;
}

main p {
    padding: 10px;
}

.inner-header {
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    min-height: 65px;
    width: 100%;
    background-color: #640094;
}

.header-logo {
    margin-left: 20px;
    color: white;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow: hidden;
}

.inner-menu,
.inner-extra {
    height: 100%;
    position: fixed;
}

.main-menu {
    min-width: var(--menu-width);
    background-color: #0f7595;
}

.inner-menu {
    width: var(--menu-width);
    left: 0;
}

.content {
    display: flex;
    flex-flow: row nowrap;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.extra-content {
    min-width: 40%;
    background-color: #cc5400;
}

.inner-extra {
    width: calc((100% - var(--menu-width)) * 0.4);
    right: 0;
}

.animate-block {

    width: 300px;
    height: 300px;
    margin: 10px auto;
}

.block-item {
    transition: transform 1.5s linear 0s;
}

.block-item.left {
    transform: translate(-500%);
}

.block-item.right {
    transform: translate(500%);
}

.menu-button::before {
    transform: rotate(-45deg);
}

.menu-button::after {
    transform: rotate(45deg);
}


@media (max-width: 768px) {
    main {
        min-width: calc(100% - var(--menu-transition));
        transition: transform 0.5s linear 0s;
        transform: translate(var(--menu-transition));
    }

    .transition {
        transform: translate(0px);
    }

    .content {
        flex-flow: column nowrap;
    }

    .inner-extra {
        position: relative;
    }

    .menu-button {
        width: 30px;
        height: 30px;
        margin: 10px 10px 0 auto;
        background: red;
    }

    .menu-button {
        display: block;
    }

    /*-----------BURGER-BUTTON-----------*/

    .button-container {
        height: 40px;
        padding-top: 20px;
    }

    .burger-button {
        position: relative;
        margin: 0 10px 0 auto;
    }

    .burger-button,
    .burger-button::before,
    .burger-button::after {
        width: 30px;
        height: 2px;
        background-color: #fff;
    }

    .burger-button::before,
    .burger-button::after {
        content: " ";
        position: absolute;
        transform: rotate(0deg);
        transition: transform 0.2s linear 0s;
    }

    .burger-button::before {
        top: -8px;
    }

    .burger-button::after {
        top: 8px;
    }

    .close.burger-button::before {
        top: 0;
        transform: rotate(-45deg);
        transition: transform 0.2s linear 0s;
    }

    .close.burger-button::after{
        top: 0;
        transform: rotate(45deg);
        transition: transform 0.2s linear 0s;
    }

    .close.burger-button {
        background: transparent;
    }

}