
.header__container {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  height: 0;
  padding: 0 18px;
  text-align: center;
  opacity: 1;
  transition: all ease .5s 0s;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.1);
  z-index: 999;

  @media all and (min-width: 1000px) {
    box-shadow: none;
  }

  @media all and (min-width: 1023px) {
    position: static;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 0 0 10%;
  }
}