
.header__user-info {
  text-align: left;
  background-color: #FFFFFF;
  padding-top: 15px;

  @media all and (min-width: 1023px) {
    position: absolute;
    top: 85px;
    right: 55px;
    display: none;
    width: 256px;
    padding-top: 20px;
    border: 1px solid #fefefe;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14);
  }
}

.header__user-info--visible {
  display: block;
}

