
$font-stack: 'Roboto', sans-serif;
$header-background-color: #000;
$header-default-color: #fff;
$header-link-hover-color: #e21325;
$default-red: #e21325;
$default-gray: #778899;


%flexRowWrap {
  display: flex;
  flex-flow: row wrap;
}

%flexRowNowrap {
  display: flex;
  flex-flow: row nowrap;
}

%flexColumnWrap {
  display: flex;
  flex-flow: column wrap;
}

%flexColumnNowrap {
  display: flex;
  flex-flow: column nowrap;
}