@import "helpers";

main {
  height: calc(100vh - 60px);
  background: url('/build/img/photo_2.jpg') center no-repeat;
  background-size: 100%;
}


.tabs {
  width: 100%;
  padding: 0;
  background-color: $default-red;

  section {
    display: none;
    padding: 15px;
    background: #fff;

    .buttons {
      @extend %flexColumnNowrap;
      justify-content: flex-start;

      li {
        width: 250px;
        margin-bottom: 10px;

        a {
          display: inline-block;
          width: 100%;
          padding: 5px 25px;
          text-align: center;
          color: $default-gray;
          background-color: #ffffff;
          border: 1px solid $default-gray;
        }
      }
      li.active a,
      a:hover {
        background-color: $default-gray;
        color: $header-default-color;
      }
    }

    .section-nav {

      li {
        width: 150px;

        a {
          display: inline-block;
          width: 100%;
          padding: 10px;
          color: #000;
        }
      }
    }

    .catalog {
      @extend %flexRowWrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 65%;

      .catalog-item {
        width: 25%;
        margin: 0 10px 20px 0;

        .item-title {
          margin-bottom: 10px;
        }

        .item-icons {
          span {
            display: inline-block;
            width: 20px;
            height: 20px;
            text-align: center;
            font-size: 10px;
            line-height: 19px;
          }
          .quantity {
            border: 1px solid $default-gray;
            border-radius: 50px;
            background-color: #fff;
            color: $default-gray;
          }
          .ok {
            border: 1px solid darkgreen;
            border-radius: 50px;
            background: url('/build/img/ok-icon.png') center no-repeat;
            background-size: 106%;
            color: transparent;
          }
          .store {
            border: 1px solid darkred;
            border-radius: 50px;
            background-color: $default-red;
            color: #fff;
          }
        }
      }
    }
  }

  input {
    display: none;
    position: absolute;

    &:checked+label {
      background: lightgrey;
      box-shadow: 0 1px 10px 2px rgba(34, 60, 80, 0.2);
    }
  }

  label {
    display: inline-block;
    padding: 15px 25px;

    img {
      max-width: 150px;
    }
  }
}


/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1,
#tab2:checked~#content-tab2,
#tab3:checked~#content-tab3,
#tab4:checked~#content-tab4 {
  @extend %flexRowNowrap;
  justify-content: space-between;
  align-items: flex-start;
}