@import '../variables';

.map__button {
  position: fixed;
  bottom: 75px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: $bg-black;
}