
@font-face {
  font-family: "SFDisplay";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/SFUIDisplay-Regular.woff") format("woff"),
  url("./assets/fonts/SFUIDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SFDisplay";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/SFUIDisplay-Semibold.woff") format("woff"),
  url("./assets/fonts/SFUIDisplay-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "SFDisplay";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/SFUIDisplay-Heavy.woff") format("woff"),
  url("./assets/fonts/SFUIDisplay-Heavy.ttf") format("truetype");
}


