
//colors

$gradient-orange-diag: linear-gradient(26.97deg, #FF971C 20.96%, #FF6600 104.08%);
$gradient-orange-vert: linear-gradient(180deg, #F66200 0%, #FF971C 100%);
$gradient-blue: linear-gradient(0deg, #2459E2, #2459E2), #2E61E5;
$orange: #FF781C;
$bg-dark: #151515;
$bg-black: #000000;
$line: #2A2A2A;
$text-gray: #D5D5D5;
$bg-white: #FFFFFF;

// vars

$footer-height: 48px;