@import "~normalize.css";
@import "styles/variables";
@import "styles/fonts";

@import "styles/container/container";
@import "styles/header/header";
@import "styles/promo/promo";
@import "styles/separator/separator";
@import "styles/main/main";
@import "styles/slider/slider";
@import "styles/text-block/text-block";
@import "styles/calculator/calculator";
@import "styles/tabs/tabs";
@import "styles/calc-form/calc-form";
@import "styles/footer/footer";






* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include flex-cn;
  min-height: 100vh;
  font-family: 'Myriad Pro','Verdana', sans-serif ;
  font-size: 14px;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button:focus,
input:focus {
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
