

.tabs__input {
  display: none;

  &:checked + .tabs__label {
    color: #0099de;
    text-decoration: underline;
  }
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
}