@import "../variables";

.category__counter {
  float: right;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $basic-blue;

  @media all and (min-width: 1023px) {
    display: none;
  }
}