@import "_input";
@import "_item";
@import "_submit";
@import "_counter";
@import "_title";

.category {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1440px;
  margin-top: 15px;

  &--mobile {
    position: absolute;
    top: 55px;
    display: none;
    width: calc(100% - 36px);
    max-height: 295px;
    margin-top: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);

    &--visible {
      display: flex;
    }
  }

  @media all and (min-width: 1023px) {
    max-height: 100%;
    padding: 25px;
    margin-top: 0;
    overflow: hidden;

    &--mobile {
      position: static;
      width: 100%;
    }
  }
}

