
@font-face {
  font-family: 'Myriad Pro';
  src: url('./assets/fonts/MyriadPro-Semibold.woff') format('woff'),
  url('./assets/fonts/MyriadPro-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('./assets/fonts/MyriadPro-Regular.woff') format('woff'),
  url('./assets/fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
